<p-dialog [(visible)]="opened" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="palestra">Esta certo em excluir a Palestra <b>{{ palestra.titulo }}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="onClose()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="onSave()"></button>
    </ng-template>
</p-dialog>