<p-dialog header="Palestras"
          class="p-fluid"
          [(visible)]="opened"
          [style]="{ width: '900px' }"
          [modal]="true"
          (onHide)="onClose()">
  <ng-template pTemplate="content">
    <div [formGroup]="formGroup">
      <div class="grid">
        <div class="col-6">
          <div class="field">
            <label for="titulo">Título</label>
            <input pInputText id="titulo" formControlName="titulo" required autofocus
                   [ngClass]="{'ng-invalid ng-dirty' : submitted && formGroup.get('titulo')?.invalid}"/>
            <small *ngIf="submitted && formGroup.get('titulo')?.invalid">Título é obrigatório.</small>
          </div>

          <div class="field">
            <label for="descricao">Descrição</label>
            <textarea pInputTextarea
                      id="descricao"
                      formControlName="descricao"
                      [style]="{ height: '465px', resize: 'none' }">
            </textarea>
          </div>
        </div>

        <div class="col-6">
          <div class="field">
            <label for="palestrante">Palestrante</label>
            <input pInputText id="palestrante" formControlName="palestrante" required
                   [ngClass]="{'ng-invalid ng-dirty' : submitted && formGroup.get('palestrante')?.invalid}"/>
            <small *ngIf="submitted && formGroup.get('palestrante')?.invalid">Palestrante é obrigatório.</small>
          </div>

          <div class="field">
            <label for="dataHora">Data</label>
            <p-calendar id="dataHora"
                        inputId="dataHora"
                        formControlName="dataHora"
                        [showTime]="false"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        [showOtherMonths]="false"
                        [showClear]="true"
                        [hourFormat]="'24'"
                        [showIcon]="true">
            </p-calendar>
          </div>

          <div class="field">
            <label for="hora">Hora</label>
            <p-calendar id="hora"
                        inputId="hora"
                        [showIcon]="true"
                        [timeOnly]="true"
                        [inline]="true"
                        (onSelect)="onTimeSelect($event)">
            </p-calendar>
          </div>

          <div *ngIf="qrCode()"
               class="field">
            <div class="flex justify-content-center">
              <qrcode
                [qrdata]="qrCode()"
                [errorCorrectionLevel]="'M'"
                [width]="280">
              </qrcode>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onClose()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="onSave()"></button>
  </ng-template>
</p-dialog>
